# Ignore build artifacts for Spring Boot
target/

# Ignore IDE files
.idea/
*.iml
*.ipr
*.iws

# Ignore build artifacts for Angular
/dist/
/node_modules/
/node

# Ignore logs
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db
